body {
	background-color: #e9ece5
}
header .fix_navi_bar{
	display:flex;
	align-items:center;
	background-color: rgba(233,236,229,0.5);

	
}
/*header nav{
	display:flex;
	justify-content:flex-end;
}*/

.navbar-custom .navbar-brand{font-weight:800; font-size: 30px; color:#3b3a36;}.navbar-custom .nav li a{text-transform:uppercase;font-size:12px;font-weight:800;color:#3b3a36;letter-spacing:1px}@media only screen and (min-width:768px){.navbar-custom{background:0 0;border-bottom:1px solid transparent}
.navbar-custom .navbar-brand{color:#3b3a36;;padding:20px}
.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus{color:rgba(255,255,255,.8)}
.navbar-custom .nav li a{color:#3b3a36;padding:20px}
.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus{color:rgba(255,255,255,.8)}}@media only screen and (min-width:1170px){.navbar-custom{-webkit-transition:background-color .3s;-moz-transition:background-color .3s;transition:background-color .3s;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.navbar-custom.is-fixed{position:fixed;top:-61px;background-color:rgba(255,255,255,.9);border-bottom:1px solid #f2f2f2;-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;transition:transform .3s}.navbar-custom.is-fixed .navbar-brand{color:#404040}.navbar-custom.is-fixed .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus{color:#0085a1}.navbar-custom.is-fixed .nav li a{color:#404040}.navbar-custom.is-fixed .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus{color:#0085a1}
.navbar-custom.is-visible{-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}}
header h1{
	padding: 20px;
	color:#3b3a36;
	font-family: "Josefin Slab";
	font-weight: bold;
}

header p{
	padding: 20px;
	font-size: 24px;
	color:#3b3a36;
	font-family: "Josefin Slab";
}

.jumbotron{
	margin-left:0px;
	margin-right:0px;
	margin-top: 80px;
	background-image:url("http://i66.tinypic.com/id8091.jpg");
	background-size:cover;
	color: #ffffff;
  	height: 500px;

}
section p{
/*	margin-left: 100px;
	margin-top:50px;
	height:100px;
	width: 400px;*/
	font-family: "Josefin Slab";

	color:#3b3a36;
}
section .row_project{
	margin: 20px;
	display:flex;
	flex-wrap:wrap;
}
section h2{
	font-family: "Josefin Slab";
	font-weight: bold;
	color:#3b3a36;
}
.project{
	margin-top: 80px;
}
section .row_project p{
	color:#3b3a36;

}
section .row_project img{
	display: flex;
	margin-top: 20px;
	width: 300px;
	height: 200px;
	align-items:center;
}

.container h2{
	margin-top: 50px;
	font-family: "Josefin Slab";
	font-weight: bold;
	color:#3b3a36;
	margin-bottom: 40px
}
.container h3,p{
	color:#ffffff;
	font-weight: bold;
	font-family: "Josefin Slab";
}
.carousel-inner{
	height: 400px;
	align-items:center;
}
.carousel-inner img{
	display: block;
    margin: 0 auto;
}

#journal_jumbo{
	background-image:url("http://i63.tinypic.com/2isi734.jpg");
	background-size:cover;
	color: #ffffff;
  	height: 500px;
}
.contact ul {
  list-style: none;
}
.contact li img {
  width: 32px;
  height: 32px;
}
footer p{
	color:#3b3a36;
	font-family: "Josefin Slab";

}
footer {
	margin-top: 50px;
  font-size: 12px;
  padding: 20px 0;
}
